<div class="container">
    <h2 class="text-center text-secondary mt-4 mb-5">Admin page</h2>
    <div class="row border border-dark mb-5">
        <div class="col text-center">
            <h4>Legend </h4>
        </div>

        <div class="w-100"></div>
        <hr />
        <div class="col-md-3 col-sm-6 mb-5">
            <div class="foo crimson mr-3"></div>
            <p class="pt-2">No waiters</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="foo orange mr-3"></div>
            <p class="pt-2">Less than 3</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="foo green mr-3"></div>
            <p class="pt-2">Full day</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="foo black mr-3"></div>
            <p class="pt-2">Over limit</p>
        </div>



    </div>


    <div class="row">
        <div class="col">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {{#each colouring}}
                        <td>
                            <div class="{{status}}"></div>
                        </td>

                        {{/each}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="row">
        <div class="col">
            <div class="w-100"></div>
            <div class="row">
                <div class="col-1 mr-5">
                    <table class="table mt-3">
                        {{#each monday}}
                        <tr>
                            <td>{{first_name}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                <div class="col-1 ml-4 mr-5">
                    <table class="table mt-3">
                        {{#each tuesday}}
                        <tr>
                            <td>{{first_name}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                <div class="col-1 ml-3 mr-5">
                    <table class="table mt-3">
                        {{#each wednesday}}
                        <tr>
                            <td>{{first_name}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                <div class="col-1 ml-4 mr-5">
                    <table class="table mt-3">
                        {{#each thursday}}
                        <tr>
                            <td>{{first_name}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                <div class="col-1 ml-3 mr-5">
                    <table class="table mt-3">
                        {{#each friday}}
                        <tr>
                            <td>{{first_name}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                <div class="col-1 ml-3 mr-5">
                    <table class="table mt-3">
                        {{#each saturday}}
                        <tr>
                            <td>{{first_name}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                <div class="col-1 ml-2">
                    <table class="table mt-3">
                        {{#each sunday}}
                        <tr>
                            <td>{{first_name}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="w-100"></div>
    
    <div class="row">
        <div class="col text-right mt-5">
            <a href="/reset" class="btn btn-danger mb-4">Remove all shifts</a>
        </div>
    </div>
</div>